.dir-name-sub-title {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

.dir-icon {
  width: 1rem;
  height: 1rem;
}

.search-input {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
