<ng-template #dialog>
  <nb-card>
    <nb-card-header>Dialog</nb-card-header>
    <nb-card-body>Hello world!</nb-card-body>
  </nb-card>
</ng-template>

<nb-card>
  <nb-card-header>Scan Configuration</nb-card-header>
  <nb-card-body>
    <table class="config-table">
      <tr>
        <td class="config-label-column">
          <label class="label">Base directory</label>
        </td>
        <td>
          <button nbButton size="small" (click)="openDirectoryWindow(dialog)">Select</button>
          <span class="base-directory-span">{{baseDirectory}}</span>
        </td>
      </tr>
      <!-- <tr>
        <td class="config-label-column">
          <label class="label">Test output</label>
        </td>
        <td>
          <input
            type="text" [value]="testoutput"
          />
        </td>
      </tr> -->
    </table>
  </nb-card-body>
  <nb-card-footer>
      <table class="config-table">
        <tr>
          <td class="config-label-column">
            <button nbButton outline (click)="openDialog(dialog)">Start</button>
          </td>
          <td>
            <nb-progress-bar
              *ngIf="scanProgress.length > 0"
              [value]="scanProgressValue"
              status="info"
              >{{ scanProgress }}</nb-progress-bar
            >
          </td>
        </tr>
      </table>
  </nb-card-footer>
</nb-card>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Summary
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <table *ngIf="summaryInfo" class="summary-table">
        <tr>
          <td class="summary-label-column">
            <label for="summary-info-timecost" class="label"
              >Time cost(second):
            </label>
          </td>
          <td>
            <span id="summary-info-timecost">{{
              summaryInfo.timeCostInSecond
            }}</span>
          </td>
        </tr>
        <tr>
          <td class="summary-label-column">
            <label for="summary-info-filecount" class="label"
              >File number:
            </label>
          </td>
          <td>
            <span id="summary-info-filecount">{{ summaryInfo.fileCount }}</span>
          </td>
        </tr>
        <tr>
          <td class="summary-label-column">
            <label for="summary-info-dircount" class="label"
              >Directory number:
            </label>
          </td>
          <td>
            <span id="summary-info-dircount">{{ summaryInfo.dirCount }}</span>
          </td>
        </tr>
        <tr>
          <td class="summary-label-column">
            <label for="summary-info-size" class="label">Size: </label>
          </td>
          <td>
            <span id="summary-info-size">{{ summaryInfo.size }}</span>
          </td>
        </tr>
      </table>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Directory Tree
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <label class="search-label" for="search">Search:</label>
      <input
        nbInput
        [nbFilterInput]="dirTree"
        id="search"
        class="search-input"
      />

      <table [nbTreeGrid]="dirTree">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

        <ng-container [nbTreeGridColumnDef]="customColumn">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{ customColumn }}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <div>
              <nb-tree-grid-row-toggle
                [expanded]="row.expanded"
                *ngIf="row.data.isDir; else fileIcon"
              >
              </nb-tree-grid-row-toggle>
              <ng-template #fileIcon>
                <nb-icon class="dir-icon" icon="file-text-outline"></nb-icon>
              </ng-template>
              <span>{{ row.data[customColumn] }}</span>
            </div>
            <span class="dir-name-sub-title">{{ row.data.absolutePath }}</span>
          </td>
        </ng-container>

        <ng-container
          *ngFor="let column of defaultColumns; let index = index"
          [nbTreeGridColumnDef]="column"
          [showOn]="getShowOn(index)"
        >
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
            {{ column }}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{ row.data[column] || '-' }}
          </td>
        </ng-container>
      </table>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>

<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Top Files
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <nb-list>
        <nb-list-item *ngFor="let file of files">
          <div>
            <span>{{ file.absolutePath }}</span>
            <span class="file-size">{{ file.size }}</span>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
