button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
}

.label {
  font-size: 0.95rem;
  line-height: 2rem;
}

.base-directory-span {
  margin-left: 1rem;
}

.search-input {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.nb-column-name {
  width: 100%;
}

.dir-name-sub-title {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

.file-size {
  float: right;
  margin-right: 5rem;
}

.dir-icon {
  width: 1rem;
  height: 1rem;
}

.summary-table,
.config-table {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .config-label-column,
  .summary-label-column {
    width: 20%;
  }
}

@media screen and (min-width: 400px) {
  .nb-column-name,
  .nb-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .nb-column-name,
  .nb-column-size,
  .nb-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .nb-column-name {
    width: 31%;
  }
  .nb-column-size,
  .nb-column-kind,
  .nb-column-items {
    width: 23%;
  }
}
