@media screen and (min-width: 400px) {
  .overview-label-column {
    width: 70%;
  }
}

.overview-table {
  width: 100%;
}

.overview-table-label {
  font-size: 0.95rem;
  line-height: 2rem;
}

.summary-layout {
  /deep/ .layout {
    min-height: auto;
  }
}

.overview-value-column {
    float: right;
    margin-right: 6rem;
}

.topFile-size {
    float: right;
    margin-right: 5rem;
  }