<table *ngIf="info" class="summary-table">
  <tr>
    <td class="summary-label-column">
      <label for="summary-info-timecost" class="label"
        >Time cost(second):
      </label>
    </td>
    <td>
      <span id="summary-info-timecost">{{
        info.timeCostInSecond
      }}</span>
    </td>
  </tr>
  <tr>
    <td class="summary-label-column">
      <label for="summary-info-filecount" class="label"
        >File number:
      </label>
    </td>
    <td>
      <span id="summary-info-filecount">{{ info.fileCount }}</span>
    </td>
  </tr>
  <tr>
    <td class="summary-label-column">
      <label for="summary-info-dircount" class="label"
        >Directory number:
      </label>
    </td>
    <td>
      <span id="summary-info-dircount">{{ info.dirCount }}</span>
    </td>
  </tr>
  <tr>
    <td class="summary-label-column">
      <label for="summary-info-size" class="label">Size: </label>
    </td>
    <td>
      <span id="summary-info-size">{{ info.size }}</span>
    </td>
  </tr>
</table>